@import models.tables.Schedule
@(scheduleId: Long, teams : Seq[(String,String)], scheduleForm: Form[Schedule])(implicit messages: Messages)

@import helper._

@displayDate(date: java.util.Date)(implicit dateFormat: java.text.SimpleDateFormat) = @{ dateFormat.format(date) }
@displayDateTwoLines(date: java.util.Date)(implicit dateFormat: java.text.SimpleDateFormat) = @{ Html(dateFormat.format(date).replace(" ", "<br>")) }

@defining(new java.text.SimpleDateFormat("dd-MM-yyyy HH:ss:mm")) { implicit dateFormat =>

	@main("Real DB") {
		<style>
		body { padding-top: 70px; background-color: #fbfcfe; }
		.navbar-default { background-color: #3264c8; }
		.navbar-default a { color: white !important; }
		.navbar-brand { margin: 0 0 0 20px; font-size: 2em; font-weight: bold; cursor: default; }
		.navbar-brand small { margin-left: 10px; font-weight: normal; font-style: italic; }
		#github-buttons { margin-top: 15px; }
		h1 { margin-top: -40px; padding-top: 70px; font-size: 24px; color: #3264c8; }
		.table-striped { background-color: #f0f0ff; }
		.table-striped>tbody>tr:nth-of-type(odd) { background-color: #f0f0ff; }
		th, .no-items { text-align: center; }
		td { vertical-align: middle !important; }
		</style>
	} {
		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand">TippSpiel <small>Administration</small></a>
		    </div>
		  </div>
		</nav>

		@form(routes.Admin.scheduleUpdate(scheduleId)) {

			<fieldset>


				@inputText(scheduleForm("gameTime"), '_label -> "Spieldatum")
				@inputText(scheduleForm("group"), '_label -> "Gruppe")

				@select(
					scheduleForm("homeTeam"),
					teams,
					'_label -> "Home Team", '_default -> "-- Choose a team --",
					'_showConstraints -> false
				)

				@select(
					scheduleForm("visitorTeam"),
					teams,
					'_label -> "Visitor Team", '_default -> "-- Choose a team --",
					'_showConstraints -> false
				)

				@inputText(scheduleForm("homeScore"), '_label -> "Home Score")
				@inputText(scheduleForm("visitorScore"), '_label -> "Visitor Score")

			</fieldset>

			<div class="actions">
				<input type="submit" value="Save this tournament" class="btn primary"> or
				<a href="@routes.Admin.schedulesOfTournament()" class="btn">Cancel</a>
			</div>

			@if(scheduleForm.hasGlobalErrors) {
				<ul>
				@for(error <- scheduleForm.globalErrors) {
					<li>@error.message</li>
				}
				</ul>
			}

		}

	}
}